:root {
    --main-color: #0E2732;
    --light-color: #ECFCFF;
    --button-color: #00A3ED;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100vh;
    color: var(--main-color);
}

header {
    color: var(--main-color);
    padding-top: 25px 0;
}

form {
    padding-top: 75px;
}

.input-group {
    display: flex; 
    border: 1px solid #ccc; 
    border-radius: 25px;
}

#search-input {
    width: 100%;
    height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,.5);
    border: 0;
    border-radius: 30px;
    padding:0 20px;
}

#btn-search {
    height: 55px;
    width: 120px;
    border: 0;
    background: var(--button-color);
    border-radius: 30px;
    color: #fff;
    align-content: center;
}

#btn-search:hover {
    background-color:rgb(0, 163, 237); 
    color: black;
    font-weight: bold;
}

/*
.play{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    background: 0 0;
    border: 0;
    box-shadow: none;
}

.video{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    background: 0 0;
    border: 0;
    box-shadow: none; 
}
*/

main{
    padding: 0 25px;
}
.result h2, .bucket h2, .queue h2{
    color: var(--button-color);
    font-size: 24px;
}

.results.card-container {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.card {
    flex-shrink: 0 !important;
    width: 250px !important;
    text-align: center !important;
}

.card-reveal {
    opacity: .85;
}

.search-result {
    flex-direction: row;
    flex-wrap: wrap;
}

.searchResultCard{
    gap: 20px;
    display: flex;
    flex-wrap: flex;
    overflow-x: scroll;
}